DEVICE={{ bond.device }}
ONBOOT=yes
TYPE=Bond
IPADDR={{ bond.ip }}
PREFIX={{ bond.prefix }}
NETWORK={{ bond.network }}
BROADCAST={{ bond.broadcast }}
BOOTPROTO=static
USERCTL=no
BONDING_MASTER=yes
MTU=9000
BONDING_OPTS="mode=1 miimon=100 fail_over_mac=1"
{% if bond.gateway is defined %}
GATEWAY={{ bond.gateway }}
{% endif %}
