[myrepo]
name=myrepo
baseurl=http://{{ REPO_SERVER }}/{{ REPO_NAME }}/{{ ansible_distribution | lower }}/{{ ansible_distribution_version.split('.') | first }}/{{ ansible_architecture }}
gpgcheck=0
enabled=1
